@model List<ResultDiscountVM>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
	int i = 1;
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">İndirim işlemleri</h4>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">İndirim Listesi</div>
					</div>
					<div class="card-body">
						<div class="card-sub">
							İndirim ile ilgili işlemleri buradan yapabilirsiniz
						</div>
						<table class="table mt-3">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Başlık</th>
									<th scope="col">ImageURL</th>
									<th scope="col">İndirim Miktarı</th>
									<th scope="col">Detay</th>
									<th scope="col">Durumu</th>
									<th scope="col">Sil</th>
									<th scope="col">Güncelle</th>
									<th scope="col">Aktif Yap</th>
									<th scope="col">Pasif Yap</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model)
								{
									<tr>
										<td>@i</td>
										<td>@item.Title</td>
										<td>@item.ImageURL</td>
										<td>@item.DiscountAmount</td>
										<td>@item.Description</td>
										<td>@item.DiscountStatus</td>
										<td><a href="/Discount/DeleteDiscount/@item.DiscountId" class="btn btn-outline-danger btn-border btn-round">Sil</a></td>
										<td><a href="/Discount/UpdateDiscount/@item.DiscountId" class="btn btn-outline-secondary btn-border btn-round">Güncelle</a></td>
										<td><a href="/Discount/ActivateDiscount/@item.DiscountId" class="btn btn-outline-success btn-border btn-round">Aktif Yap</a></td>
										<td><a href="/Discount/PassivateDiscount/@item.DiscountId" class="btn btn-outline-warning btn-border btn-round">Pasif Yap</a></td>
									</tr>
									i++;
								}
							</tbody>
						</table>
						<a href="/Discount/CreateDiscount/" class="btn btn-outline-primary">Yeni İndirim Ekle</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

